language: cpp
before_script:
  - sudo apt-get install libboost-test-dev -y
  - sudo apt-get install libgtest-dev -y
  - cd /usr/src/gtest
  - sudo cmake CMakeLists.txt
  - sudo make
  - cd -
  - echo "deb http://archive.ubuntu.com/ubuntu xenial main universe" | sudo tee -a /etc/apt/sources.list
  - sudo apt-get update -qq
script:
  - cmake .
  - cmake --build .
  - cmake --build . --target test
  - cmake --build . --target package
deploy:
  provider: script
  skip_cleanup: true
  script:
  - curl -T cppcicd-0.0.$TRAVIS_BUILD_NUMBER-Linux.deb -uinlermin:$BINTRAY_API_KEY "https://api.bintray.com/content/inlermin/cppcicd/cppcicd/$TRAVIS_BUILD_NUMBER/cppcicd-0.0.$TRAVIS_BUILD_NUMBER-Linux.deb;deb_distribution=trusty;deb_component=main;deb_architecture=amd64;publish=1"

